body {
    background-color: aqua;
    margin: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    display:flex;
    flex-direction: column;
    width: 100%;
}
    input{
    align-self: center;
    width: 30%;
}
    label{
        align-self: center;
    }
    button{
        align-self: center;
    }
    select{
        align-self: center;
    }
    #prenom{
        margin-bottom: 20px;
    }
    #nom{
        margin-bottom: 20px;
    }
    #choix{
        margin-bottom: 20px;
        width: 30%;
        display: flex;
        align-content: center;
    }

